#side-panel.dark(data-bg-img='images/bg/bg8.jpg')
  .side-panel-wrap
    #side-panel-trigger-close.side-panel-trigger
      a(href='#')
        i.icon_close.font-30
    a(href='javascript:void(0)')
      img(alt='logo', src='images/logo-wide.png')
    .side-panel-nav.mt-30
      .widget.no-border
        nav
          ul.nav.nav-list
            li
              a(href='#') Home
            li
              a(href='#') Services
            li
              a.tree-toggler.nav-header
                | Pages 
                i.fa.fa-angle-down
              ul.nav.nav-list.tree
                li
                  a(href='#') About
                li
                  a(href='#') Terms
                li
                  a(href='#') FAQ
            li
              a(href='#') Contact
    .clearfix
    .side-panel-widget.mt-30
      .widget.no-border
        ul
          li.font-14.mb-5
            i.fa.fa-phone.text-theme-colored
            a.text-gray(href='#') 123-456-789
          li.font-14.mb-5
            i.fa.fa-clock-o.text-theme-colored
            |  Mon-Fri 8:00 to 2:00
          li.font-14.mb-5
            i.fa.fa-envelope-o.text-theme-colored
            a.text-gray(href='#') contact@yourdomain.com
      .widget
        ul.social-icons.icon-dark.icon-theme-colored.icon-sm
          li
            a(href='#')
              i.fa.fa-google-plus
          li
            a(href='#')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-twitter
      p Copyright ©2016 ThemeMascot
