.header-middle.p-0.bg-lightest.xs-text-center
  .container.pt-0.pb-0
    .row
      .col-xs-12.col-sm-4.col-md-5
        .widget.no-border.m-0
          a.menuzord-brand.pull-left.flip.xs-pull-center.mb-15(href='javascript:void(0)')
            img(src='http://placehold.it/180x37', alt='')
      .col-xs-12.col-sm-4.col-md-4
        .widget.no-border.pull-right.sm-pull-none.sm-text-center.mt-10.mb-10.m-0
          ul.list-inline
            li
              i.icon_mobile.text-theme-colored.font-32.mt-5.sm-display-block
            li
              a.font-12.text-gray.text-uppercase(href='#') Call us today!
              h5.font-14.m-0  +(012) 345 6789
      .col-xs-12.col-sm-4.col-md-3
        .widget.no-border.pull-right.sm-pull-none.sm-text-center.mt-10.mb-10.m-0
          ul.list-inline
            li
              i.fa.fa-clock-o.text-theme-colored.font-36.mt-5.sm-display-block
            li
              a.font-12.text-gray.text-uppercase(href='#') We are open!
              h5.font-13.text-black.m-0  Mon-Fri 8:00-16:00
