.header-top.bg-theme-colored.sm-text-center
  .container
    .row
      .col-md-6
        .widget.no-border.m-0
          ul.list-inline.sm-text-center.mt-5
            li.m-0.pl-10.pr-10
              i.fa.fa-phone.text-white
              a.text-white(href='#') 123-456-789
            li.text-white.m-0.pl-10.pr-10
              i.fa.fa-clock-o.text-white
              |  Mon-Fri 8:00 to 2:00
            li.m-0.pl-10.pr-10
              i.fa.fa-envelope-o.text-white
              a.text-white(href='#') contact@yourdomain.com
      .col-md-6
        #side-panel-trigger.side-panel-trigger.pull-right.flip.sm-pull-none.mt-5
          a(href='#')
            i.fa.fa-bars.font-24.text-white
        .widget.no-border.m-0
          ul.social-icons.icon-dark.icon-circled.icon-theme-colored.icon-sm.pull-right.flip.sm-pull-none.sm-text-center.mt-sm-15
            li
              a(href='#')
                i.fa.fa-facebook.text-white
            li
              a(href='#')
                i.fa.fa-twitter.text-white
            li
              a(href='#')
                i.fa.fa-google-plus.text-white
            li
              a(href='#')
                i.fa.fa-instagram.text-white
            li
              a(href='#')
                i.fa.fa-linkedin.text-white
