extends base

block site_body
  // Section: home
  include _partial/home_section
  // Section: Welcome
  include _partial/welcome_section
  // Section: Services
  include _partial/services_section
  // Section: Specialities
  include _partial/specialities_section
  // Section: Doctors
  include _partial/doctors_section
  // Section: Testimonials
  include _partial/testimonials_section
  // Section: Gallery
  include _partial/gallery_section
  // Section: News
  include _partial/news_section

