section
  .container.pb-20
    .section-title.text-center
      .row
        .col-md-8.col-md-offset-2
          h2.text-uppercase.mt-0 Our Doctors
          .title-icon
            img.mb-10(src='images/title-icon.png', alt='')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem
            br
            |  voluptatem obcaecati!
    .section-content
      .row.multi-row-clearfix
        .col-sm-6.col-md-3.mb-60.sm-text-center
          .team.border-1px.maxwidth400
            .thumb
              img.img-fullwidth(src='http://placehold.it/400x400', alt='')
            .content.p-15.bg-white-light
              h4.name.mb-0.mt-0
                a.text-theme-colored(href='#') Dr. Smile Jhon
              h6.title.mt-0 Orthopaedics
              p.mb-30 Lorem ipsum dolor sit amet, con amit sectetur adipisicing elit.
              ul.social-icons.icon-dark.icon-theme-colored.icon-sm.pull-left.flip
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-google-plus
        .col-sm-6.col-md-3.mb-60.sm-text-center
          .team.border-1px.maxwidth400
            .thumb
              img.img-fullwidth(src='http://placehold.it/400x400', alt='')
            .content.p-15.bg-white-light
              h4.name.mb-0.mt-0
                a.text-theme-colored(href='#') Dr. Hafz Jacobson
              h6.title.mt-0 Cardiology
              p.mb-30 Lorem ipsum dolor sit amet, con amit sectetur adipisicing elit.
              ul.social-icons.icon-dark.icon-theme-colored.icon-sm.pull-left.flip
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-google-plus
        .col-sm-6.col-md-3.mb-60.sm-text-center
          .team.border-1px.maxwidth400
            .thumb
              img.img-fullwidth(src='http://placehold.it/400x400', alt='')
            .content.p-15.bg-white-light
              h4.name.mb-0.mt-0
                a.text-theme-colored(href='#') Dr. Jaka Alex
              h6.title.mt-0 Neurology
              p.mb-30 Lorem ipsum dolor sit amet, con amit sectetur adipisicing elit.
              ul.social-icons.icon-dark.icon-theme-colored.icon-sm.pull-left.flip
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-google-plus
        .col-sm-6.col-md-3.mb-60.sm-text-center
          .team.border-1px.maxwidth400
            .thumb
              img.img-fullwidth(src='http://placehold.it/400x400', alt='')
            .content.p-15.bg-white-light
              h4.name.mb-0.mt-0
                a.text-theme-colored(href='#') Dr. Alex Hashan
              h6.title.mt-0 Haematology
              p.mb-30 Lorem ipsum dolor sit amet, con amit sectetur adipisicing elit.
              ul.social-icons.icon-dark.icon-theme-colored.icon-sm.pull-left.flip
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-google-plus
