section#gallery.bg-lighter
  .container-fluid.pb-0
    .section-title.text-center
      .row
        .col-md-8.col-md-offset-2
          h2.text-uppercase.mt-0 Gallery
          .title-icon
            img.mb-10(src='images/title-icon.png', alt='')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem
            br
            |  voluptatem obcaecati!
    .row
      .col-md-12
        // Works Filter
        .portfolio-filter.font-alt.align-center
          a.active(href='#', data-filter='*') All
          a(href='#dental', data-filter='.dental') Dental
          a(href='#surgery', data-filter='.surgery') Surgery
          a(href='#laboratory', data-filter='.laboratory') Laboratory
        // End Works Filter
        // Portfolio Gallery Grid
        #grid.portfolio-gallery.grid-4.gutter.clearfix
          // Portfolio Item Start
          .portfolio-item.dental
            .thumb
              img.img-fullwidth(src='http://placehold.it/280x190', alt='project')
              .overlay-shade
              .icons-holder
                .icons-holder-inner
                  .social-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                    a(data-lightbox='image', href='http://placehold.it/280x190')
                      i.fa.fa-picture-o
          // Portfolio Item End
          // Portfolio Item Start
          .portfolio-item.photography
            .thumb
              img.img-fullwidth(src='http://placehold.it/280x190', alt='project')
              .overlay-shade
              .icons-holder
                .icons-holder-inner
                  .social-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                    a(data-lightbox='image', href='http://placehold.it/280x190')
                      i.fa.fa-picture-o
          // Portfolio Item End
          // Portfolio Item Start
          .portfolio-item.photography
            .thumb
              img.img-fullwidth(src='http://placehold.it/280x190', alt='project')
              .overlay-shade
              .icons-holder
                .icons-holder-inner
                  .social-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                    a(data-lightbox='image', href='http://placehold.it/280x190')
                      i.fa.fa-picture-o
          // Portfolio Item End
          // Portfolio Item Start
          .portfolio-item.photography
            .thumb
              img.img-fullwidth(src='http://placehold.it/280x190', alt='project')
              .overlay-shade
              .icons-holder
                .icons-holder-inner
                  .social-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                    a(data-lightbox='image', href='http://placehold.it/280x190')
                      i.fa.fa-picture-o
          // Portfolio Item End
          // Portfolio Item Start
          .portfolio-item.surgery
            .thumb
              img.img-fullwidth(src='http://placehold.it/280x190', alt='project')
              .overlay-shade
              .icons-holder
                .icons-holder-inner
                  .social-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                    a(data-lightbox='image', href='http://placehold.it/280x190')
                      i.fa.fa-picture-o
          // Portfolio Item End
          // Portfolio Item Start
          .portfolio-item.photography
            .thumb
              img.img-fullwidth(src='http://placehold.it/280x190', alt='project')
              .overlay-shade
              .icons-holder
                .icons-holder-inner
                  .social-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                    a(data-lightbox='image', href='http://placehold.it/280x190')
                      i.fa.fa-picture-o
          // Portfolio Item End
          // Portfolio Item Start
          .portfolio-item.laboratory
            .thumb
              img.img-fullwidth(src='http://placehold.it/280x190', alt='project')
              .overlay-shade
              .icons-holder
                .icons-holder-inner
                  .social-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                    a(data-lightbox='image', href='http://placehold.it/280x190')
                      i.fa.fa-picture-o
          // Portfolio Item End
          // Portfolio Item Start
          .portfolio-item.photography
            .thumb
              img.img-fullwidth(src='http://placehold.it/280x190', alt='project')
              .overlay-shade
              .icons-holder
                .icons-holder-inner
                  .social-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                    a(data-lightbox='image', href='http://placehold.it/280x190')
                      i.fa.fa-picture-o
          // Portfolio Item End
          // Portfolio Item Start
          .portfolio-item.dental
            .thumb
              img.img-fullwidth(src='http://placehold.it/280x190', alt='project')
              .overlay-shade
              .icons-holder
                .icons-holder-inner
                  .social-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                    a(data-lightbox='image', href='http://placehold.it/280x190')
                      i.fa.fa-picture-o
          // Portfolio Item End
          // Portfolio Item Start
          .portfolio-item.photography
            .thumb
              img.img-fullwidth(src='http://placehold.it/280x190', alt='project')
              .overlay-shade
              .icons-holder
                .icons-holder-inner
                  .social-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                    a(data-lightbox='image', href='http://placehold.it/280x190')
                      i.fa.fa-picture-o
          // Portfolio Item End
          // Portfolio Item Start
          .portfolio-item.laboratory
            .thumb
              img.img-fullwidth(src='http://placehold.it/280x190', alt='project')
              .overlay-shade
              .icons-holder
                .icons-holder-inner
                  .social-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                    a(data-lightbox='image', href='http://placehold.it/280x190')
                      i.fa.fa-picture-o
          // Portfolio Item End
          // Portfolio Item Start
          .portfolio-item.surgery
            .thumb
              img.img-fullwidth(src='http://placehold.it/280x190', alt='project')
              .overlay-shade
              .icons-holder
                .icons-holder-inner
                  .social-icons.icon-sm.icon-dark.icon-circled.icon-theme-colored
                    a(data-lightbox='image', href='http://placehold.it/280x190')
                      i.fa.fa-picture-o
          // Portfolio Item End
        // End Portfolio Gallery Grid
