section
  .container.pb-110
    .section-title
      .row
        .col-md-6.col-md-offset-3.text-center
          h2.font-playfair.text-uppercase.mt-0.mb-10 News
          img.mb-10(src='images/title-icon.png', alt='')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi molestiae autem fugit illo ipsa numquam, quod iusto enim.
    .section-content
      .row.multi-row-clearfix
        .blog-posts
          .col-xs-12.col-sm-12.col-md-6
            article.post.style1.clearfix.maxwidth500
              .col-md-4.p-0
                .entry-header
                  .post-thumb
                    img.img-responsive.img-fullwidth(src='http://placehold.it/180x200', alt='')
                  .entry-date.entry-date-absolute
                    | 25 
                    span Dec
              .col-md-8.p-0
                .entry-content.pl-50.p-20.pt-30.pr-20
                  h5.entry-title.pt-0
                    a(href='#') Different types of stroke
                  p
                    | Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.
                  .entry-meta.pull-left.flip.mt-10
                    ul.list-inline
                      li
                        i.fa.fa-thumbs-o-up.mr-5
                        |  13
                      li
                        i.fa.fa-comments-o.mr-5
                        |  43
                  a.text-theme-colored.mt-10.mb-0.pull-right.flip(href='#')
                    | Read more 
                    i.fa.fa-angle-double-right
                  .clearfix
          .col-xs-12.col-sm-12.col-md-6
            article.post.style1.clearfix.maxwidth500
              .col-md-4.p-0
                .entry-header
                  .post-thumb
                    img.img-responsive.img-fullwidth(src='http://placehold.it/180x200', alt='')
                  .entry-date.entry-date-absolute
                    | 25 
                    span Dec
              .col-md-8.p-0
                .entry-content.pl-50.p-20.pt-30.pr-20
                  h5.entry-title.pt-0
                    a(href='#') Different types of stroke
                  p
                    | Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.
                  .entry-meta.pull-left.flip.mt-10
                    ul.list-inline
                      li
                        i.fa.fa-thumbs-o-up.mr-5
                        |  13
                      li
                        i.fa.fa-comments-o.mr-5
                        |  43
                  a.text-theme-colored.mt-10.mb-0.pull-right.flip(href='#')
                    | Read more 
                    i.fa.fa-angle-double-right
                  .clearfix
          .col-xs-12.col-sm-12.col-md-6
            article.post.style1.clearfix.maxwidth500
              .col-md-4.p-0
                .entry-header
                  .post-thumb
                    img.img-responsive.img-fullwidth(src='http://placehold.it/180x200', alt='')
                  .entry-date.entry-date-absolute
                    | 25 
                    span Dec
              .col-md-8.p-0
                .entry-content.pl-50.p-20.pt-30.pr-20
                  h5.entry-title.pt-0
                    a(href='#') Different types of stroke
                  p
                    | Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.
                  .entry-meta.pull-left.flip.mt-10
                    ul.list-inline
                      li
                        i.fa.fa-thumbs-o-up.mr-5
                        |  13
                      li
                        i.fa.fa-comments-o.mr-5
                        |  43
                  a.text-theme-colored.mt-10.mb-0.pull-right.flip(href='#')
                    | Read more 
                    i.fa.fa-angle-double-right
                  .clearfix
          .col-xs-12.col-sm-12.col-md-6
            article.post.style1.clearfix.maxwidth500
              .col-md-4.p-0
                .entry-header
                  .post-thumb
                    img.img-responsive.img-fullwidth(src='http://placehold.it/180x200', alt='')
                  .entry-date.entry-date-absolute
                    | 25 
                    span Dec
              .col-md-8.p-0
                .entry-content.pl-50.p-20.pt-30.pr-20
                  h5.entry-title.pt-0
                    a(href='#') Different types of stroke
                  p
                    | Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.
                  .entry-meta.pull-left.flip.mt-10
                    ul.list-inline
                      li
                        i.fa.fa-thumbs-o-up.mr-5
                        |  13
                      li
                        i.fa.fa-comments-o.mr-5
                        |  43
                  a.text-theme-colored.mt-10.mb-0.pull-right.flip(href='#')
                    | Read more 
                    i.fa.fa-angle-double-right
                  .clearfix
