section#services.bg-lighter
  .container.pb-50
    .section-title.icon-bg
      .row
        .col-md-6.col-md-offset-3.text-center
          h2.font-playfair.text-uppercase.mt-0.mb-10 Services
          img.mb-10(src='images/title-icon.png', alt='')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi molestiae autem fugit illo ipsa numquam, quod iusto enim.
    .section-content
      .row.features-style1
        .col-sm-4
          .icon-box.p-30.mb-30.border-3px
            a(href='#')
              i.icon-ambulance14.text-theme-colored
            .features-details
              h5 Emergency Care
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.
            a.font-opensans.mt-30.inline-block.text-theme-colored(href='#')  Read More
        .col-sm-4
          .icon-box.p-30.mb-30.border-3px
            a(href='#')
              i.icon-illness.text-theme-colored
            .features-details
              h5 Operation Thearer
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.
            a.font-opensans.mt-30.inline-block.text-theme-colored(href='#')  Read More
        .col-sm-4
          .icon-box.p-30.mb-30.border-3px
            a(href='#')
              i.icon-stethoscope10.text-theme-colored
            .features-details
              h5 Outdoor Checkup
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.
            a.font-opensans.mt-30.inline-block.text-theme-colored(href='#')  Read More
        .col-sm-4
          .icon-box.p-30.mb-30.border-3px
            a(href='#')
              i.icon-medical51.text-theme-colored
            .features-details
              h5 Cancer Service
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.
            a.font-opensans.mt-30.inline-block.text-theme-colored(href='#')  Read More
        .col-sm-4
          .icon-box.p-30.mb-30.border-3px
            a(href='#')
              i.icon-hospital35.text-theme-colored
            .features-details
              h5 Blood Test
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.
            a.font-opensans.mt-30.inline-block.text-theme-colored(href='#')  Read More
        .col-sm-4
          .icon-box.p-30.mb-30.border-3px
            a(href='#')
              i.icon-tablets9.text-theme-colored
            .features-details
              h5 Pharmacy
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.
            a.font-opensans.mt-30.inline-block.text-theme-colored(href='#')  Read More
