section.divider.parallax.layer-overlay.overlay-white(data-bg-img='http://placehold.it/1920x1280')
  .container.pb-80
    .section-title.icon-bg
      .row
        .col-md-6.col-md-offset-3.text-center
          h2.font-playfair.text-uppercase.mt-0.mb-10 Our Specialities
          img.mb-10(alt='', src='images/title-icon.png')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi molestiae autem fugit illo ipsa numquam, quod iusto enim.
    .section-centent
      .row
        .col-md-12
          .services-tab.border-10px.bg-white-light
            ul.nav.nav-tabs
              li.active
                a(href='#tab11', data-toggle='tab')
                  i.icon-xray2
                  | Orthopaedics
              li
                a(href='#tab12', data-toggle='tab')
                  i.icon-heart36
                  | Cardiology
              li
                a(href='#tab13', data-toggle='tab')
                  i.icon-brain9
                  | Neurology
              li
                a(href='#tab14', data-toggle='tab')
                  i.icon-teeth1
                  | Dental
              li
                a(href='#tab15', data-toggle='tab')
                  i.icon-hospital35
                  | Haematology
            .tab-content
              #tab11.tab-pane.fade.in.active
                .row
                  .col-md-5
                    .thumb
                      img.img-fullwidth(src='http://placehold.it/450x470', alt='')
                  .col-md-6
                    .service-content
                      h3.sub-title.mb-0.mt-30 Services
                      h1.title.mt-0 Orthopaedics
                      p
                        | One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.
                      .row.mt-30.mb-20
                        .col-xs-6
                          ul.mt-10
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Qualified Doctors
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  24×7 Emergency Services
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  General Medical
                        .col-xs-6
                          ul.mt-10
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Feel like Home Services
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Outdoor Checkup
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Easy and Affordable Billing
                      a.btn.btn-lg.btn-dark.btn-theme-colored(href='#') View Details
              #tab12.tab-pane.fade
                .row
                  .col-md-5
                    .thumb
                      img.img-fullwidth(src='http://placehold.it/450x470', alt='')
                  .col-md-6
                    .service-content
                      h3.sub-title.mb-0.mt-30 Services
                      h1.title.mt-0 Cardiology
                      p
                        | One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.
                      .row.mt-30.mb-20
                        .col-xs-6
                          ul.mt-10
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Qualified Doctors
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  24×7 Emergency Services
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  General Medical
                        .col-xs-6
                          ul.mt-10
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Feel like Home Services
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Outdoor Checkup
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Easy and Affordable Billing
                      a.btn.btn-lg.btn-dark.btn-theme-colored(href='#') View Details
              #tab13.tab-pane.fade
                .row
                  .col-md-5
                    .thumb
                      img.img-fullwidth(src='http://placehold.it/450x470', alt='')
                  .col-md-6
                    .service-content
                      h3.sub-title.mb-0.mt-30 Services
                      h1.title.mt-0 Neurology
                      p
                        | One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.
                      .row.mt-30.mb-20
                        .col-xs-6
                          ul.mt-10
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Qualified Doctors
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  24×7 Emergency Services
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  General Medical
                        .col-xs-6
                          ul.mt-10
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Feel like Home Services
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Outdoor Checkup
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Easy and Affordable Billing
                      a.btn.btn-lg.btn-dark.btn-theme-colored(href='#') View Details
              #tab14.tab-pane.fade
                .row
                  .col-md-5
                    .thumb
                      img.img-fullwidth(src='http://placehold.it/450x470', alt='')
                  .col-md-6
                    .service-content
                      h3.sub-title.mb-0.mt-30 Services
                      h1.title.mt-0 Dental
                      p
                        | One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.
                      .row.mt-30.mb-20
                        .col-xs-6
                          ul.mt-10
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Qualified Doctors
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  24×7 Emergency Services
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  General Medical
                        .col-xs-6
                          ul.mt-10
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Feel like Home Services
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Outdoor Checkup
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Easy and Affordable Billing
                      a.btn.btn-lg.btn-dark.btn-theme-colored(href='#') View Details
              #tab15.tab-pane.fade
                .row
                  .col-md-5
                    .thumb
                      img.img-fullwidth(src='http://placehold.it/450x470', alt='')
                  .col-md-6
                    .service-content
                      h3.sub-title.mb-0.mt-30 Services
                      h1.title.mt-0 Haematology
                      p
                        | One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.
                      .row.mt-30.mb-20
                        .col-xs-6
                          ul.mt-10
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Qualified Doctors
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  24×7 Emergency Services
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  General Medical
                        .col-xs-6
                          ul.mt-10
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Feel like Home Services
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Outdoor Checkup
                            li.mb-10
                              i.fa.fa-angle-double-right.text-theme-colored.font-15
                              |  Easy and Affordable Billing
                      a.btn.btn-lg.btn-dark.btn-theme-colored(href='#') View Details
