section(data-bg-img='images/pattern/p4.png')
  .container
    .row
      .col-md-8.col-md-offset-2
        .testimonial.testimonial-carousel1
          .item
            .testimonial-wrapper.text-center
              .thumb
                img.img-circle(alt='', src='http://placehold.it/75x75')
              .content.pt-10
                p.lead
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.
                i.fa.fa-quote-right.font-36.mt-10.text-gray-lightgray
                h5.author.text-theme-colored.mb-0 Catherine Grace
                h6.title.text-gray.mt-0.mb-15 Designer
          .item
            .testimonial-wrapper.text-center
              .thumb
                img.img-circle(alt='', src='http://placehold.it/75x75')
              .content.pt-10
                p.lead
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.
                i.fa.fa-quote-right.font-36.mt-10.text-gray-lightgray
                h5.author.text-theme-colored.mb-0 Catherine Grace
                h6.title.text-gray.mt-0.mb-15 Designer
          .item
            .testimonial-wrapper.text-center
              .thumb
                img.img-circle(alt='', src='http://placehold.it/75x75')
              .content.pt-10
                p.lead
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.
                i.fa.fa-quote-right.font-36.mt-10.text-gray-lightgray
                h5.author.text-theme-colored.mb-0 Catherine Grace
                h6.title.text-gray.mt-0.mb-15 Designer
