// Modal - Appontment Form Starts
#modal_appontment_form.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .border-1px.p-25
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.text-theme-colored.text-uppercase.m-0 Make an Appointment
        .line-bottom.mb-30
        p Lorem ipsum dolor sit amet, consectetur elit.
        // Appointment Form
        form#popup_appointment_form(name='popup_appointment_form', method='post', action='includes/appointment.php')
          .row
            .col-sm-12
              .form-group.mb-10
                input#form_name.form-control(name='form_name', type='text', required='', placeholder='Enter Name', aria-required='true')
            .col-sm-12
              .form-group.mb-10
                input#form_email.form-control.required.email(name='form_email', type='email', placeholder='Enter Email', aria-required='true')
            .col-sm-12
              .form-group.mb-10
                input.form-control.required.date-picker(name='form_appontment_date', type='text', placeholder='Appoinment Date', aria-required='true')
          .form-group.mb-10
            textarea#form_message.form-control.required(name='form_message', placeholder='Enter Message', rows='5', aria-required='true')
          .form-group.mb-0.mt-20
            input#form_botcheck.form-control(name='form_botcheck', type='hidden', value='')
            button.btn.btn-dark.btn-theme-colored(type='submit', data-loading-text='Please wait...') Send Message
        // Appointment Form Validation
        script(type='text/javascript').
          $("#popup_appointment_form").validate({
          submitHandler: function(form) {
          var form_btn = $(form).find('button[type="submit"]');
          var form_result_div = '#form-result';
          $(form_result_div).remove();
          form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
          var form_btn_old_msg = form_btn.html();
          form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
          $(form).ajaxSubmit({
          dataType:  'json',
          success: function(data) {
          if( data.status == 'true' ) {
          $(form).find('.form-control').val('');
          }
          form_btn.prop('disabled', false).html(form_btn_old_msg);
          $(form_result_div).html(data.message).fadeIn('slow');
          setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
          }
          });
          }
          });
// Modal - Appontment Form Ends
